<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/sanitize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <title>EyeGuard Alert</title>
</head>
<body>

    <div class="loading">
        <p>EyeGuard Alert</p>
        <div class="loading-screen"></div>
    </div>

    <header class="header">
        <h1 class="header-logo">
            <a class="header-title" href="#">EyeGuard Alert</a>
        </h1>
        <nav class="header-nav">
            <ul class="header-navlist">
                <li class="header-navitem">
                    <a href="#" class="header-About">About</a>
                </li>
                <li class="header-navitem">
                    <a href="#Parameter-section" class="header-Parameter">Parameter</a>
                </li>
                <li class="header-navitem">
                    <a href="#start-section" class="header-Start">Start</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="section">
        <h1 class="section-headline">About</h1>
        <figure class="about">
            <img class="about-image" src="../static/material/Eye.jpg" alt="About image">
            <figcaption class="acout-caption">
                <h2 class="about-headline">what I can do</h2>
                <p class="about-description">

                    ・このアプリは、MediaPipe Irisの技術を活用して、ユーザーの目の状態をリアルタイムで監視します。<br><br>

                    ・ユーザーのまばたきの回数から分析し、長時間の画面作業やデジタル眼精疲労の兆候を警告し、
                    休憩を促すリマインダーを提供します。<br><br>

                    ・分析には、瞬きの時間的間隔の標準偏差（以下、標準偏差）を利用します。<br><br>

                    ・Start分野の"camera"ボタンを押すとwebカメラによる監視を開始します。<br><br>
                    
                </p>
            </figcaption>
        </figure>
    </section>


    <section class="section section-secoundary" id="Parameter-section">
        <h1 class="section-headline">Parameter</h1>
        <ul class="grid grid-col-1">
            <div class="box">
                <li class="grid-item">
                    <dl class="parameter">
                        <dt class="parameter-headline">1.Blink late</dt>
                        <dd class="parameter-desprection">Blink lateは瞬きを判定するライン。<br> この値を下回ると、瞬きと判定されます。<br><br>
                        ユーザーはこの値を変更する事が出来、<br>判定基準を変更する事が可能です。<br><br>
                    値を大きくする -> 瞬きの感度が上がる。<br>値を小さくする -> 瞬きの感度が下がる。</dd>
                    </dl>
                </li>
        </div>
        <div class="box">
            <li class="grid-item">
                <dl class="parameter">
                    <dt class="parameter-headline">2.Tolerance</dt>
                    <dd class="parameter-desprection">最初、直近の標準偏差の差の絶対値が<br>Tolerance以上の場合、休憩を促します。<br><br>
                    ユーザーはこの値を変更する事が出来、<br>休息の推奨しやすさを変更する事が可能。<br><br>
                    値を大きくする -> 疲労を検知しにくくなる。<br>値を小さくする -> 疲労を検知しやすくなる。<br>
                </dd>
                </dl>
            </li>
        </div>
        </ul>
    </section>


    <section class="section" id="start-section">
        <h1 class="section-headline">Start</h1>
        <img class="camera-image"  src="../static/material/before.jpg" alt="before.jpg">
        <div class="video-message"></div>
        <video class="video-image" controls style="display: none;" autoplay loop muted preload >
            <source src="../static/material/coffee.mp4" type="video/mp4">
        </video>
        <form method="POST" action="/run_script">
            <input id="runPythonButton" type="submit" value="camera"  onclick="myFunction()">
        </form>
    </section>
</body>
</html>